<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p-3 m-2 text-center">{{model.name}}'sTodo List</h3>

            <div class="input-group mb-3">
                <input
                
                (keyup.enter)="addItem();"
                class="form-control"
                [(ngModel)]="inputText"
                >
               
                <!--  [class]="{
                 disabled :   inputText.length==0 ,
                 'btn-secondary' : inputText.length==0 ,
                 'btn-primary' : inputText.length>0
                }" -->
                <button 
                (click)="addItem();"
                class="btn "
               [class]="getBtnClasses()"
                >Add
                </button>
            </div>
            <div class="form-check mb-3">
                <input 
                [(ngModel)]="displayAll"
                type="checkbox" name="" id="displayAll" class="form-check-input">
                <label for="displayAll" class="form-check-label">
                    Show ALL
                </label>
            </div>
     
            <div class="my-2">
                {{displayCount()}} todos completed
            </div>

            <div class="alert alert-warning" *ngIf="getItems().length==0 else itemsTable">
               All Todos Completed
            </div>

            <ng-template #itemsTable>
                <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!--bool ifadelerde ==true yazmaay gerek yok ilk ifade zaten true döner  -->

                    <!-- [class.bg-primary]="item.action"
                    [class.bg-warning]="!item.action" -->
                    <tr *ngFor="let item of getItems(); let i=index"
                    [class]=" {'bg-primary':item.action,'bg-warning':!item.action}" >
                        <td>{{i+1}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <!-- <div *ngIf="item.action">Yes</div>
                            <div *ngIf="!item.action">No</div> -->
                            <!-- <div [ngSwitch]="item.action">
                                <div *ngSwitchCase="true">Yes</div>
                                <div *ngSwitchCase="false">No</div>
                            </div> -->
                            <div *ngIf="item.action;else noTemplate">
                                Yes
                            </div>

                            <ng-template #noTemplate>
                                No
                            </ng-template>
                        </td>
                        <td >
                            <input 
                            [(ngModel)]="item.action"
                            type="checkbox" name="" id="">
                        </td>
                    </tr>
                 
                </tbody>
                </table>
            </ng-template>
            

        </div>
    </div>
</div>
