<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p-3 m-2 text-center">{{model.name}}'sTodo List</h3>

            <div class="input-group mb-3">
                <input
                #txtItem
                (keyup.enter)="addItem(txtItem.value); txtItem.value=''"
                class="form-control">
                <button 
                (click)="addItem(txtItem.value); txtItem.value=''"
                class="btn btn-outline-primary">Add</button>
            </div>
            <div class="form-check mb-3">
                <input 
                [(ngModel)]="displayAll"
                type="checkbox" name="" id="displayAll" class="form-check-input">
                <label for="displayAll" class="form-check-label">
                    Hepsini göster
                </label>
            </div>
     

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getItems(); let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.action}}</td>
                        <td >
                            <input 
                            [(ngModel)]="item.action"
                            type="checkbox" name="" id="">
                        </td>
                    </tr>
                 
                </tbody>
            </table>

        </div>
    </div>
</div>
